In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [2]:
titles = pd.read_csv('titles.csv')
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [3]:
print("Total No of movies in titles data frame is : ",titles['title'].count())

Total No of movies in titles data frame is :  244914

### What are the earliest two films listed in the titles dataframe?

In [4]:
titles.sort_values(by=['year']).head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [5]:
print("No of movies with title \'Hamlet' is : " ,titles[titles['title'] == 'Hamlet'].count()['title'])

No of movies with title 'Hamlet' is :  20

### How many movies are titled "North by Northwest"?

In [54]:
print("No of movies with title \'North by Northwest' is : " ,titles[titles['title'] == 'North by Northwest'].count()['title'])

No of movies with title 'North by Northwest' is :  1

### When was the first movie titled "Hamlet" made?

In [76]:
titles[titles['title'] == 'Hamlet'].sort_values(by=['year']).iloc[:,-1:].head(1)

       year
52521  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [75]:
titles[titles['title'] == 'Treasure Island'].sort_values(by=['year'])

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [82]:
print("Total No of movies made in the year 1950 is : ",titles[titles['year'] == 1950].count()['title'])

Total No of movies made in the year 1950 is :  1113

### How many movies were made in the year 1960?

In [83]:
print("Total No of movies made in the year 1960 is : ",titles[titles['year'] == 1960].count()['title'])

Total No of movies made in the year 1960 is :  1549

### How many movies were made from 1950 through 1959?

In [44]:
ser = titles['year'].between(1950,1959,inclusive = True)

print("Total No of movies made from 1950 through 1959 is : ",titles[ser].count()['title'])

Total No of movies made from 1950 through 1959 is :  12934

### In what years has a movie titled "Batman" been released?

In [105]:
titles[titles['title'] == 'Batman'].iloc[:,-1:]

        year
39349   1943
240896  1989

### How many roles were there in the movie "Inception"?

In [8]:
cast = pd.read_csv("cast.csv")

cast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3786176 entries, 0 to 3786175
Data columns (total 6 columns):
 #   Column     Dtype
---  ------     -----
 0   title      object
 1   year       int64
 2   name       object
 3   type       object
 4   character  object
 5   n          float64
dtypes: float64(1), int64(1), object(4)
memory usage: 173.3+ MB

In [15]:
print("The total number of roles in movie inception is :",cast[cast['title'] == "Inception"]['character'].count())

The total number of roles in movie inception is : 78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [53]:
print("The total number of roles in movie \'Inception' that are NOT ranked by an n value is : ",cast[(cast['title'] == "Inception")]['n'].isnull().sum())

The total number of roles in movie 'Inception' that are NOT ranked by an n value is :  27

### But how many roles in the movie "Inception" did receive an "n" value?

In [54]:
print("The total number of roles in movie \'Inception' that are ranked by an n value is : ",cast[(cast['title'] == "Inception")]['n'].notnull().sum())

The total number of roles in movie 'Inception' that are ranked by an n value is :  51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [85]:
nby = cast[(cast['title'] == "North by Northwest")].sort_values('n').iloc[:,-4:]

nby[nby['n'].notnull()]

                         name     type                    character     n
871426             Cary Grant    actor           Roger O. Thornhill   1.0
3518333       Eva Marie Saint  actress                  Eve Kendall   2.0
1457165           James Mason    actor              Phillip Vandamm   3.0
3157232   Jessie Royce Landis  actress              Clara Thornhill   4.0
356707         Leo G. Carroll    actor                The Professor   5.0
3048272  Josephine Hutchinson  actress                Mrs. Townsend   6.0
1695173           Philip Ober    actor              Lester Townsend   7.0
1275337         Martin Landau    actor                      Leonard   8.0
2447081         Adam Williams    actor                     Valerian   9.0
1811387          Edward Platt    actor              Victor Larrabee  10.0
665768      Robert Ellenstein    actor                        Licht  11.0
2295714          Les Tremayne    actor                   Auctioneer  12.0
464736        Philip Coolidge    actor                    Dr. Cross  13.0
1508344         Patrick McVey    actor               Sergeant Flamm  14.0
206471           Edward Binns    actor               Captain Junket  15.0
1384780             Ken Lynch    actor  Charley - Chicago Policeman  16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [91]:
cast[(cast['title'] == "Sleuth") & (cast['year'] == 1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [92]:
cast[(cast['title'] == "Sleuth") & (cast['year'] == 2007)].sort_values('n')

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [101]:
print(cast[(cast['title'] == "Hamlet") & (cast['year'] == 1921)]['n'].count()," roles where credited in the 1921 version of Hamlet")

9  roles where credited in the 1921 version of Hamlet

### How many roles were credited in Branagh’s 1996 Hamlet?

In [103]:
print(cast[(cast['title'] == "Hamlet") & (cast['year'] == 1996)]['n'].notnull().count()," roles where credited in the 1996 version of Hamlet")

54  roles where credited in the 1996 version of Hamlet

### How many "Hamlet" roles have been listed in all film credits through history?

In [216]:
print(len(cast[(cast['character'] == "Hamlet")]['title'].unique()),"\'Hamlet' roles have been listed in all film credits through history")

73 'Hamlet' roles have been listed in all film credits through history

### How many people have played an "Ophelia"?

In [125]:
print(cast[(cast['character'] == "Ophelia")]['name'].count()," Have played an  \'Ophelia' role")

117  Have played an  'Ophelia' role

### How many people have played a role called "The Dude"?

In [127]:
print(cast[(cast['character'] == "The Dude")]['name'].count()," Have played an  \'The Dude' role")

19  Have played an  'The Dude' role

### How many people have played a role called "The Stranger"?

In [128]:
print(cast[(cast['character'] == "The Stranger")]['name'].count()," Have played an  \'The Dude' role")

212  Have played an  'The Dude' role

### How many roles has Sidney Poitier played throughout his career?

In [150]:
print("Sidney Poitier has played around ",len(cast[cast['name'] == 'Sidney Poitier']['character'].unique()),"roles throughout his career")

Sidney Poitier has played around  41 roles throughout his career

### How many roles has Judi Dench played?

In [148]:
print("Judi Dench has played around ",len(cast[cast['name'] == 'Judi Dench']['character'].unique()),"roles throughout his career")

Judi Dench has played around  46 roles throughout his career

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [175]:
cast[(cast['name'] == 'Cary Grant')&(cast['n'] == 2)&(cast['year'] >= 1940) & (cast['year'] <= 1949)].sort_values('year')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [177]:
cast[(cast['name'] == 'Cary Grant')&(cast['n'] == 1)&(cast['year'] >= 1940) & (cast['year'] <= 1949)].sort_values('year')

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [193]:
print("There were around ",len(cast[(cast['type']=='actor')&(cast['year'] >= 1950) & (cast['year'] <= 1959)]['character'].unique())," role available for actors at 1950s")

There were around  93369  role available for actors at 1950s

### How many roles were available for actresses in the 1950s?

In [194]:
print("There were around ",len(cast[(cast['type']=='actress')&(cast['year'] >= 1950) & (cast['year'] <= 1959)]['character'].unique())," role available for actors at 1950s")

There were around  36266  role available for actors at 1950s

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [201]:
print("There were around ",cast[(cast['year'] <= 1980)&(cast['n'] == 1)]['n'].count()," leading roles available from the  beginning of film history through 1980")

There were around  65140  leading roles available from the  beginning of film history through 1980

### How many non-leading roles were available through from the beginning of film history through 1980?

In [207]:
print("There were around",cast[(cast['year'] <= 1980)&(cast['n'] == 2)]['n'].count(),"non-leading roles available from the  beginning of film history through 1980")

There were around 61395 non-leading roles available from the  beginning of film history through 1980

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [210]:
print("There were around",cast[(cast['year'] <= 1980)]['n'].isnull().count(),"roles through 1980 were minor enough that they did not warrant a numeric \'n' rank")

There were around 1182807 roles through 1980 were minor enough that they did not warrant a numeric 'n' rank