# Data pre-processing/cleansing

In [1]:
import pandas as pd

dataset = pd.read_csv("general_data.csv")

dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [2]:
dataset.count()

dataset1 = dataset.dropna() # removing null records

In [8]:
dataset1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [ ]:
dataset1['Attrition'] = dataset1['Attrition'].replace(['No'],'0') # Replacing attrition variable with 'Yes' as 1 & 'No' as 2

dataset1['Attrition'] = dataset1['Attrition'].replace(['Yes'],'1')

In [4]:
#converting data type 'Attrition' variable to int 

dict = {'Attrition' : int}

dataset1 = dataset1.astype(dict)

# Correlation - Hypothesis testing

Test statement 1 

H0 = There is significant correlation between age & attrition rate.

H1 = There is NO significant correlation between age & attrition rate.

In [17]:
from scipy.stats import pearsonr

sampdf = dataset1.sample(n=100) #Getting random sample of 100 rows

stats,p = pearsonr (sampdf.Age,sampdf.Attrition)

print(stats,p)

if p < 0.5 :
    print('Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted')
else:
    print('Since p value > 0.5 H0 null hypothesis is accepted')

-0.1863605937969501 0.06338591564180951
Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted

In [18]:
sampdf.corr() #correlation matrix

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.186361,0.226417,0.017156,NaN,0.031556,-0.098574,0.083061,0.339322,0.227656,NaN,-0.052589,0.671303,0.120315,0.237490,0.252628,0.216949
Attrition,-0.186361,1.000000,-0.097822,0.034516,NaN,0.040936,0.015200,-0.153716,0.048583,0.074424,NaN,0.037878,-0.233349,-0.018347,-0.066827,-0.082369,-0.137361
DistanceFromHome,0.226417,-0.097822,1.000000,0.102500,NaN,0.003960,-0.116936,-0.069051,-0.054588,0.036887,NaN,-0.159652,0.172966,-0.145655,0.224163,0.108089,0.157666
Education,0.017156,0.034516,0.102500,1.000000,NaN,0.074502,0.084364,0.022579,-0.074755,-0.035827,NaN,-0.145545,-0.119672,-0.079188,-0.026722,-0.108198,0.042105
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.031556,0.040936,0.003960,0.074502,NaN,1.000000,-0.145124,0.135174,-0.183756,-0.158190,NaN,0.040797,-0.116458,0.098793,0.026218,0.006500,0.178754
JobLevel,-0.098574,0.015200,-0.116936,0.084364,NaN,-0.145124,1.000000,-0.056228,-0.037421,-0.072473,NaN,0.083272,-0.041711,0.017933,-0.043874,-0.160124,-0.090036
MonthlyIncome,0.083061,-0.153716,-0.069051,0.022579,NaN,0.135174,-0.056228,1.000000,-0.091427,-0.172232,NaN,0.130802,-0.014964,0.135639,-0.023550,0.088299,0.085771
NumCompaniesWorked,0.339322,0.048583,-0.054588,-0.074755,NaN,-0.183756,-0.037421,-0.091427,1.000000,0.188951,NaN,0.090757,0.246633,0.051105,-0.290123,-0.074137,-0.315206
PercentSalaryHike,0.227656,0.074424,0.036887,-0.035827,NaN,-0.158190,-0.072473,-0.172232,0.188951,1.000000,NaN,-0.032341,0.159003,0.071625,0.073326,-0.030456,-0.116857
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.052589,0.037878,-0.159652,-0.145545,NaN,0.040797,0.083272,0.130802,0.090757,-0.032341,NaN,1.000000,0.058121,0.018562,-0.027712,0.053174,-0.033541
TotalWorkingYears,0.671303,-0.233349,0.172966,-0.119672,NaN,-0.116458,-0.041711,-0.014964,0.246633,0.159003,NaN,0.058121,1.000000,-0.107581,0.553242,0.410638,0.438887
TrainingTimesLastYear,0.120315,-0.018347,-0.145655,-0.079188,NaN,0.098793,0.017933,0.135639,0.051105,0.071625,NaN,0.018562,-0.107581,1.000000,-0.124952,-0.087552,-0.171526
YearsAtCompany,0.237490,-0.066827,0.224163,-0.026722,NaN,0.026218,-0.043874,-0.023550,-0.290123,0.073326,NaN,-0.027712,0.553242,-0.124952,1.000000,0.615591,0.754051
YearsSinceLastPromotion,0.252628,-0.082369,0.108089,-0.108198,NaN,0.006500,-0.160124,0.088299,-0.074137,-0.030456,NaN,0.053174,0.410638,-0.087552,0.615591,1.000000,0.534408
YearsWithCurrManager,0.216949,-0.137361,0.157666,0.042105,NaN,0.178754,-0.090036,0.085771,-0.315206,-0.116857,NaN,-0.033541,0.438887,-0.171526,0.754051,0.534408,1.000000

Test statement 2

H0 = There is significant correlation between DistanceFromHome & attrition rate.

H1 = There is NO significant correlation between DistanceFromHome & attrition rate

In [19]:
stats,p = pearsonr (sampdf.Age,sampdf.DistanceFromHome)

print(stats,p)

if p < 0.5 :
    print('Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted')
else:
    print('Since p value > 0.5 H0 null hypothesis is accepted')

0.22641702744850276 0.0235000085180489
Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted

Test statement 3

H0 = There is significant correlation between Education & attrition rate.

H1 = There is NO significant correlation between Education & attrition rate

In [20]:
stats,p = pearsonr (sampdf.Age,sampdf.Education)

print(stats,p)

if p < 0.5 :
    print('Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted')
else:
    print('Since p value > 0.5 H0 null hypothesis is accepted')

0.017156404110565376 0.8654666791851828
Since p value > 0.5 H0 null hypothesis is accepted

Test statement 4

H0 = There is significant correlation between MonthlyIncome  & attrition rate.

H1 = There is NO significant correlation between MonthlyIncome & attrition rate

In [21]:
stats,p = pearsonr (sampdf.Age,sampdf.MonthlyIncome)

print(stats,p)

if p < 0.5 :
    print('Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted')
else:
    print('Since p value > 0.5 H0 null hypothesis is accepted')

0.08306064913377809 0.4113132971869488
Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted

Test statement 5

H0 = There is significant correlation between PercentSalaryHike & attrition rate.

H1 = There is NO significant correlation between PercentSalaryHike & attrition rate

In [22]:
stats,p = pearsonr (sampdf.Age,sampdf.PercentSalaryHike)

print(stats,p)

if p < 0.5 :
    print('Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted')
else:
    print('Since p value > 0.5 H0 null hypothesis is accepted')

0.22765615048913931 0.022730238837445845
Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted

Test statement 6

H0 = There is significant correlation between TrainingTimesLastYear & attrition rate.

H1 = There is NO significant correlation between TrainingTimesLastYear & attrition rate

In [23]:
stats,p = pearsonr (sampdf.Age,sampdf.TrainingTimesLastYear)

print(stats,p)

if p < 0.5 :
    print('Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted')
else:
    print('Since p value > 0.5 H0 null hypothesis is accepted')

0.12031465220896345 0.2331213330328058
Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted

Test statement 7

H0 = There is significant correlation between YearsAtCompany & attrition rate.

H1 = There is NO significant correlation between YearsAtCompany & attrition rate

In [24]:
stats,p = pearsonr (sampdf.Age,sampdf.YearsAtCompany)

print(stats,p)

if p < 0.5 :
    print('Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted')
else:
    print('Since p value > 0.5 H0 null hypothesis is accepted')

0.23748951685749065 0.017351107176558526
Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted

Test statement 8

H0 = There is significant correlation between YearsSinceLastPromotion & attrition rate.

H1 = There is NO significant correlation between YearsSinceLastPromotion & attrition rate

In [25]:
stats,p = pearsonr (sampdf.Age,sampdf.YearsSinceLastPromotion)

print(stats,p)

if p < 0.5 :
    print('Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted')
else:
    print('Since p value > 0.5 H0 null hypothesis is accepted')

0.25262760360692665 0.011219456589644435
Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted

Test statement 9

H0 = There is significant correlation between YearsWithCurrManager & attrition rate.

H1 = There is NO significant correlation between YearsWithCurrManager  & attrition rate

In [31]:
stats,p = pearsonr (sampdf.Age,sampdf.YearsWithCurrManager)

print(stats,p)

if p < 0.5 :
    print('Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted')
else:
    print('Since p value > 0.5 H0 null hypothesis is accepted')

0.21694892550373124 0.030150626558212143
Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted

Test statement 10

H0 = There is significant correlation between TotalWorkingYears & attrition rate.

H1 = There is NO significant correlation between TotalWorkingYears & attrition rate

In [33]:
stats,p = pearsonr (sampdf.Age,sampdf.TotalWorkingYears)

print(stats,p)

if p < 0.5 :
    print('Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted')
else:
    print('Since p value > 0.5 H0 null hypothesis is accepted')

0.6713033848470251 2.117536982347189e-14
Since p value < 0.5 H0 null hypothesis is rejected & H1 is accepted