Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.

Input Format:
The first line of the input contains an email address.

Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [56]:
inp = input("Enter The Email address : ")

company = [i for i in inp.split('@')][1].split('.')[0]

print(company)

Enter The Email address : john@google.com
google

Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.

Input Format:
The first line of input contains words separated by the comma.

Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [112]:
inpt = input("Input : ")

srt = sorted(inpt.split(','))

print( "output :",",".join(srt))

Input : without,hello,bag,world
output : bag,hello,without,world

Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [296]:
set1 = {"apple", "banana", "cherry"}#New set creation

set1

{'apple', 'banana', 'cherry'}

In [297]:
set1.add('Mango') #Adds an element to the set

set1

{'Mango', 'apple', 'banana', 'cherry'}

In [298]:
set11 = set1.copy() #copies the set

set11

{'Mango', 'apple', 'banana', 'cherry'}

In [299]:
set3 = {'apple','banana','orange'} #Returns a set containing the difference between two or more sets
set1.difference(set3)

{'Mango', 'cherry'}

In [300]:
set1.difference_update(set3) # Removes the items in this set that are also included in another, specified set

set1

{'Mango', 'cherry'}

In [301]:
set1.discard ('cherry') #Remove the specified item

set1

{'Mango'}

In [302]:
set1.intersection(set3) #Returns a set, that is the intersection of two other sets(common elements)

set()

In [303]:
set1.intersection_update(set3) #Removes the items in this set that are not present in other, specified set(s)

set1

set()

In [304]:
set1.isdisjoint(set3) #Returns whether two sets have a intersection or not

True

In [305]:
set1.issubset(set3) #Returns whether another set contains this set or not

True

In [306]:
set1.issuperset(set3) #Returns whether this set contains another set or not

False

In [307]:
set1.symmetric_difference(set3) #Returns a set with the symmetric differences of two sets

{'apple', 'banana', 'orange'}

In [309]:
set1.clear() #Removes all the elements from the set

In [311]:
set1

set()

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.

Output Format:
Print the missing number

Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [361]:
li = input().split()

new = [int(i) for i in sorted(li)]

res = [i for i in range(len(new)+1)if i not in new and i != 0]

for i in res:
    print(i,end =' ')

1 2 4 6 3 7 8
5

Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155

Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.

Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.

Example:
Input: 12 24 35 24
Output:
12 24 35

In [274]:
from collections import OrderedDict

L = input().split()

op = list(OrderedDict.fromkeys(L))

print(' '.join(op))

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155